/* line 5 */
body {
  font-size: 18px;
}

/* line 9 */
ul {
  list-style: none;
  padding: 0;
}

/* line 14 */
.bold {
  font-family: "BoldSans";
}

/* line 18 */
#overlay {
  display: none;
  opacity: 0.75;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 110%;
  height: 110%;
  z-index: 1;
  background-color: #484848;
}

/* line 30 */
#close-overlay {
  padding: .7em;
  cursor: default;
  border: 1px solid inherit;
}
/* line 35 */
#close-overlay:hover {
  border: 1px solid black;
}

/* line 40 */
#message-container {
  display: none;
  position: absolute;
  top: 3em;
  left: 33%;
  width: 33%;
  background-color: #ffffff;
  box-shadow: 5px 8px 4px black;
  z-index: 3;
  cursor: default;
  padding: 1.5em 2em .75em 2em;
  font-family: "BoldSans";
}
/* line 53 */
#message-container strong {
  color: black;
}
/* line 57 */
#message-container ul {
  padding: 0 0 0 0;
  margin: 1em 0 0 1.5em;
  list-style: none;
  color: #BC3333;
}
/* line 64 */
#message-container .button {
  padding: .3em 1em .3em 1em;
  margin: 0 0 0 1.5em;
}
/* line 68 */
#message-container .button:hover {
  background-color: #D6D6D6;
}

/* line 74 */
div#container {
  margin: 0 2em 4em 2em;
}
/* line 78 */
div#container #series-list td {
  padding: 5px 12px 2px 0;
}
/* line 83 */
div#container a {
  box-shadow: inset 0px -3px rgba(37, 110, 222, 0.3);
}
/* line 86 */
div#container a:hover {
  box-shadow: inset 0px -3px rgba(37, 110, 222, 0.7);
}

/* line 92 */
.small-type {
  font-size: 85%;
  font-family: "MediumSans", "Sans";
}

/* line 97 */
#username {
  /* this is the root ul element */
  position: absolute;
  right: 1em;
  display: inline-block;
  margin: 0px;
  font-size: 85%;
  text-align: right;
  /* child list */
}
/* line 107 */
#username #auth-username:hover {
  text-decoration: underline;
}
/* line 112 */
#username li > ul {
  display: none;
  width: 100%;
  padding: 4px 0 2px 0;
  text-align: center;
  background-color: #CECECE;
}
/* line 119 */
#username li > ul a {
  color: #272727;
}
/* line 121 */
#username li > ul a:hover {
  text-decoration: underline;
}
/* line 128 */
#username li:hover ul {
  display: block;
}

/* admin-forms */
/* line 136 */
input {
  border: 1px solid #000000;
  background-color: #ffffff;
}

/* line 141 */
input[type="color"] {
  width: 3.5em;
  height: 2.5em;
  border: none;
}

/* line 147 */
input[type="text"] {
  display: block;
  margin-bottom: 1.3rem;
}

/* line 152 */
input.disabled {
  background-color: #AFAFAF;
  border: 1px solid #AFAFAF;
}

/* line 157 */
textarea {
  background-color: white;
  border: 1px solid black;
}

/* line 163 */
form button, form .button {
  background: #ffffff;
  border: 1px solid #000000;
  font-family: "BoldSans", "sans";
  margin: 1.5em 1.5em .5em 0;
  padding: 8px 10px 5px 10px;
  cursor: pointer;
}
/* line 171 */
form button:hover, form .button:hover {
  background-color: #DDDF4B;
}

/* line 178 */
.admin-form label {
  vertical-align: top;
}
/* line 182 */
.admin-form button {
  display: inline-block;
  vertical-align: top;
  margin-right: 2em;
}
/* line 188 */
.admin-form #left-col, .admin-form #right-col {
  display: inline-block;
  vertical-align: top;
}
/* line 193 */
.admin-form #left-col {
  margin-right: 3em;
}
/* line 197 */
.admin-form #dimensions-0, .admin-form #dimensions-1 {
  display: inline-block;
  margin-right: 1em;
}
/* line 202 */
.admin-form #dimensions-1 {
  margin-left: 1em;
}
/* line 206 */
.admin-form #padding-color-label-container {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}
/* line 212 */
.admin-form #padding-color-selector-container {
  display: inline-block;
  vertical-align: top;
}
/* line 217 */
.admin-form canvas {
  border: 1px solid black;
}

/* line 222 */
#show-images-for-series, #images-in-grid, #images-in-rows, #save-image-order {
  font-family: "BoldSans";
  cursor: default;
}
/* line 226 */
#show-images-for-series:hover, #images-in-grid:hover, #images-in-rows:hover, #save-image-order:hover {
  text-decoration: underline;
}

/* line 231 */
.series-image-controller {
  display: none;
}

/* line 235 */
#save-image-order {
  background: #ffffff;
  border: 1px solid #000000;
  font-family: "BoldSans", "sans";
  margin: 1.5em 1.5em .5em 0;
  padding: 8px 10px 5px 10px;
  cursor: pointer;
}
/* line 243 */
#save-image-order:hover {
  background-color: #DDDF4B;
}

/* little menu for sort by on series page*/
/* line 249 */
#images_order_by {
  cursor: default;
  margin-top: .3rem;
}
/* line 254 */
#images_order_by ul {
  position: absolute;
  padding: 0px;
  background-color: white;
}
/* line 260 */
#images_order_by li ul li {
  display: none;
}
/* line 264 */
#images_order_by li {
  font-family: "BoldSans";
}
/* line 267 */
#images_order_by li ul {
  background-color: #272727;
  color: #CECECE;
}
/* line 272 */
#images_order_by li ul li {
  font-family: "MediumSans";
  padding: 4px 3px 2px 5px;
}
/* line 278 */
#images_order_by li:hover ul li {
  display: block;
}
/* line 280 */
#images_order_by li:hover ul li:hover {
  text-decoration: underline;
}

/* line 288 */
#series-image-container {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
}
/* line 296 */
#series-image-container .container {
  margin: 2em;
  min-height: 350px;
  font-size: 85%;
  display: flex;
  flex-direction: column;
  align-items: left;
}
/* line 304 */
#series-image-container .container img {
  padding: 1.7em;
}
/* line 308 */
#series-image-container .container p {
  padding: 0 0 1em 0;
}
/* line 312 */
#series-image-container .container ul {
  padding-left: 1.7em;
}
/* line 316 */
#series-image-container .container li {
  padding: 0;
}
/* line 321 */
#series-image-container .in-rows {
  padding: 1.5em;
  margin: auto;
  width: 98%;
  flex-direction: row;
  align-items: flex-start;
}
/* line 328 */
#series-image-container .in-rows ul {
  margin-top: 4em;
}
/* line 334 */
#series-image-container .odd {
  background-color: #DFDDDD;
}

/* line 341 */
#image-form #file-upload input {
  display: none;
}
/* line 346 */
#image-form #filename-container {
  width: 15em;
  word-wrap: break-word;
}

/* line 352 */
#text-form-container {
  margin-top: 1.3rem;
}
/* line 355 */
#text-form-container div {
  display: inline-block;
  vertical-align: top;
  padding-right: 4rem;
}
/* line 360 */
#text-form-container div p {
  text-align: center;
  margin: 0 0 0 1rem;
}
/* line 366 */
#text-form-container input[type=text] {
  margin-bottom: 1.3rem;
}
/* line 370 */
#text-form-container textarea {
  margin: 1.3rem 0 1.3rem 0;
  padding: 1.2rem;
  font-family: "MediumSans";
  width: 90%;
  resize: vertical;
}

/* line 379 */
input#icon {
  display: none;
}

/* line 384 */
p#file-upload img {
  max-height: 64px;
  max-width: 64px;
}
/* line 389 */
p#file-upload .no-icon {
  padding: .4rem;
  border: 1px solid black;
}

/* line 395 */
.contact-table, .edit-texts-links {
  margin-bottom: 1.7rem;
}
/* line 398 */
.contact-table thead tr td, .edit-texts-links thead tr td {
  padding: 0 0 .4rem 0;
}
/* line 402 */
.contact-table td, .edit-texts-links td {
  padding: .2rem .5rem 0 1.5rem;
}
/* line 405 */
.contact-table td img, .edit-texts-links td img {
  height: 1.3rem;
  max-width: 1.3rem;
}

/* line 5 */
* {
  box-sizing: border-box;
}

/* line 9 */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 15 */
a {
  color: #256EDE;
  text-decoration: none;
  font-family: "BoldSans";
}
/* line 20 */
a:visited {
  color: #256EDE;
}

/* other fonts are in global (not buleprint) properties */
@font-face {
  font-family: 'typicons';
  font-weight: normal;
  font-style: normal;
  src: url("/static/fonts/typicon/typicons.eot");
  src: url("/static/fonts/typicon/typicons.eot?#iefix") format("embedded-opentype"), url("/static/fonts/typicon/typicons.woff") format("woff"), url("/static/fonts/typicon/typicons.ttf") format("truetype"), url("/static/fonts/typicon/typicons.svg#typicons") format("svg");
}
/* :before psuedo-selector inserts and styles icon */
/* line 38 */
.typcn:before {
  font-family: 'typicons';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  height: 1em;
  font-size: 1em;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* line 54 */
header {
  font-size: 1.2rem;
  color: #585858;
  margin: 1.3rem;
}

/* line 60 */
h2, h3 {
  margin: 1.3rem 0 .3rem 1.3rem;
}

/* line 64 */
footer {
  text-align: center;
  height: 7.5rem;
  bottom: 0;
  background-color: #CECECE;
  color: #272727;
  padding: 3rem 1rem 1.3rem 1rem;
}

@media screen and (max-width: 899px) {
@media -sass-debug-info{filename{}line{font-family:\000035}}
  nav {
    transform: translate(-300px, 0);
  }
}
@media -sass-debug-info{filename{}line{font-family:\0000310}}
nav {
  position: absolute;
  top: 0px;
  min-width: 252px;
  max-width: 299px;
  min-height: 100%;
  vertical-align: top;
  font-family: "BoldSans";
  letter-spacing: 3px;
  color: #CECECE;
  background-color: #272727;
}
@media -sass-debug-info{filename{}line{font-family:\0000321}}
nav a {
  color: #CECECE;
  text-decoration: none;
  padding: 1rem 1.3rem 1rem 1.3rem;
  border: 1px solid #272727;
}
@media -sass-debug-info{filename{}line{font-family:\0000327}}
nav a:hover {
  border: 1px solid #CECECE;
}
@media -sass-debug-info{filename{}line{font-family:\0000330}}
nav a:visited {
  color: #CECECE;
}
@media -sass-debug-info{filename{}line{font-family:\0000335}}
nav ul {
  padding: 1.5rem 0 1.5rem 0;
}
@media -sass-debug-info{filename{}line{font-family:\0000338}}
nav ul li {
  min-height: 3.5rem;
}

@media -sass-debug-info{filename{}line{font-family:\0000344}}
nav.open {
  transform: translate(0px, 0px);
  z-index: 9;
  overflow-y: scroll;
}

@media screen and (max-width: 899px) {
@media -sass-debug-info{filename{}line{font-family:\0000351}}
  #menu-button-container {
    display: inline-block;
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 10;
    vertical-align: top;
    padding: 1.5rem;
    opacity: 0.80;
    color: #CECECE;
    background-color: #272727;
  }
}
@media screen and (min-width: 900px) {
@media -sass-debug-info{filename{}line{font-family:\0000365}}
  #menu-button-container {
    display: none;
  }

@media -sass-debug-info{filename{}line{font-family:\0000371}}
  nav {
    min-width: 100%;
    /* unset height values for responsive menu */
    max-height: 2.3rem;
    min-height: 2.3rem;
    height: 2.3rem;
    vertical-align: unset;
    position: static;
  }
@media -sass-debug-info{filename{}line{font-family:\0000380}}
  nav a {
    padding: 0 0 0 0;
    border: none;
    cursor: default;
  }
@media -sass-debug-info{filename{}line{font-family:\0000385}}
  nav a:hover {
    border: none;
  }
@media -sass-debug-info{filename{}line{font-family:\0000390}}
  nav ul {
    color: #CECECE;
    background-color: #272727;
  }
@media -sass-debug-info{filename{}line{font-family:\0000394}}
  nav li {
    height: 2.3rem;
  }
@media -sass-debug-info{filename{}line{font-family:\0000398}}
  nav li:hover {
    background-color: #585858;
  }
@media -sass-debug-info{filename{}line{font-family:\00003102}}
  nav ul li {
    cursor: default;
    min-height: 1rem;
    padding-left: 1.3rem;
    padding-top: .2rem;
  }
@media -sass-debug-info{filename{}line{font-family:\00003109}}
  nav ul, nav li {
    display: inline-block;
    padding: 0 1.3rem 0 0;
  }
@media -sass-debug-info{filename{}line{font-family:\00003114}}
  nav li ul {
    display: none;
    padding-right: 0;
    padding-bottom: 8px;
  }
@media -sass-debug-info{filename{}line{font-family:\00003120}}
  nav li:hover > ul {
    position: absolute;
    display: block;
    z-index: 10;
    top: 2.3rem;
  }
@media -sass-debug-info{filename{}line{font-family:\00003126}}
  nav li:hover > ul li {
    display: block;
    padding: 5px 6px 7px 6px;
  }
}
/* menu button */
@media -sass-debug-info{filename{}line{font-family:\00003135}}
.typcn-th-menu {
  font-size: 1.3rem;
}

@media -sass-debug-info{filename{}line{font-family:\00003139}}
.typcn-th-menu:before {
  content: '\e116';
}
