@media -sass-debug-info{filename{}line{font-family:\000035}}
* {
  box-sizing: border-box;
}

@media -sass-debug-info{filename{}line{font-family:\000039}}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media -sass-debug-info{filename{}line{font-family:\0000315}}
a {
  color: #256EDE;
  text-decoration: none;
  font-family: "BoldSans";
}
@media -sass-debug-info{filename{}line{font-family:\0000320}}
a:visited {
  color: #256EDE;
}

/* other fonts are in global (not buleprint) properties */
@font-face {
  font-family: 'typicons';
  font-weight: normal;
  font-style: normal;
  src: url("/static/fonts/typicon/typicons.eot");
  src: url("/static/fonts/typicon/typicons.eot?#iefix") format("embedded-opentype"), url("/static/fonts/typicon/typicons.woff") format("woff"), url("/static/fonts/typicon/typicons.ttf") format("truetype"), url("/static/fonts/typicon/typicons.svg#typicons") format("svg");
}
/* :before psuedo-selector inserts and styles icon */
@media -sass-debug-info{filename{}line{font-family:\0000338}}
.typcn:before {
  font-family: 'typicons';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  height: 1em;
  font-size: 1em;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

@media -sass-debug-info{filename{}line{font-family:\0000354}}
header {
  font-size: 1.2rem;
  color: #585858;
  margin: 1.3rem;
}

@media -sass-debug-info{filename{}line{font-family:\0000360}}
h2, h3 {
  margin: 1.3rem 0 .3rem 1.3rem;
}

@media -sass-debug-info{filename{}line{font-family:\0000364}}
footer {
  text-align: center;
  height: 15rem;
  bottom: 0;
  background-color: #CECECE;
  color: #272727;
  padding: 13rem 1rem 4rem 1rem;
}

@media -sass-debug-info{filename{}line{font-family:\000036}}
nav {
  position: fixed;
  top: 0px;
  left: 0px;
  font-family: "BoldSans";
  letter-spacing: 3px;
}

@media -sass-debug-info{filename{}line{font-family:\0000315}}
nav.open {
  transform: translate(0px, 0px);
  z-index: 9;
  overflow-y: scroll;
}

@media screen and (max-width: 899px) {
@media -sass-debug-info{filename{}line{font-family:\0000322}}
  #menu-button-container {
    display: inline-block;
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 15;
    vertical-align: top;
    padding: 1.5rem;
    opacity: 0.80;
    color: #CECECE;
    background-color: #272727;
  }

@media -sass-debug-info{filename{}line{font-family:\0000334}}
  nav {
    transform: translate(-300px, 0);
    color: #CECECE;
    background-color: #272727;
    min-width: 50%;
    max-width: 85%;
    min-height: 100%;
    vertical-align: top;
  }
@media -sass-debug-info{filename{}line{font-family:\0000344}}
  nav ul ul {
    margin-left: 24px;
    display: none;
  }
@media -sass-debug-info{filename{}line{font-family:\0000349}}
  nav ul ul.visible {
    display: block;
  }
@media -sass-debug-info{filename{}line{font-family:\0000353}}
  nav li, nav a {
    color: #fff;
    padding: 12px 14px;
  }
}
@media screen and (min-width: 900px) {
@media -sass-debug-info{filename{}line{font-family:\0000362}}
  #menu-button-container {
    display: none;
  }

@media -sass-debug-info{filename{}line{font-family:\0000366}}
  body {
    padding-top: 2.3rem;
  }

@media -sass-debug-info{filename{}line{font-family:\0000370}}
  nav {
    min-width: 100%;
    background-color: #fff;
    border-bottom: 2px solid #000;
    z-index: 10;
    padding: 0 0 0 1.3rem;
  }
@media -sass-debug-info{filename{}line{font-family:\0000378}}
  nav ul {
    display: inline-block;
    position: relative;
    background-color: #fff;
  }
@media -sass-debug-info{filename{}line{font-family:\0000383}}
  nav ul li {
    display: inline-block;
    position: relative;
    padding: 13px 24px;
  }
@media -sass-debug-info{filename{}line{font-family:\0000388}}
  nav ul li a {
    display: inline-block;
  }
@media -sass-debug-info{filename{}line{font-family:\0000392}}
  nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    width: max-content;
  }
@media -sass-debug-info{filename{}line{font-family:\00003102}}
  nav ul li:hover {
    background-color: #CECECE;
  }
@media -sass-debug-info{filename{}line{font-family:\00003104}}
  nav ul li:hover ul {
    display: block;
  }
@media -sass-debug-info{filename{}line{font-family:\00003109}}
  nav ul li ul > li {
    display: block;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
  }
}
/* menu button */
@media -sass-debug-info{filename{}line{font-family:\00003122}}
.typcn-th-menu {
  font-size: 1.3rem;
}

@media -sass-debug-info{filename{}line{font-family:\00003126}}
.typcn-th-menu:before {
  content: '\e116';
}

@media -sass-debug-info{filename{}line{font-family:\000034}}
#outer-container {
  height: 100%;
}

@media -sass-debug-info{filename{}line{font-family:\000038}}
.small-font {
  font-size: 85%;
  color: #585858;
}

@media -sass-debug-info{filename{}line{font-family:\0000313}}
#up-button {
  color: #CECECE;
  background-color: #272727;
  font-size: 2rem;
  text-align: center;
  display: none;
  width: 45px;
  height: 45px;
  position: fixed;
  right: 0px;
  bottom: 10px;
  opacity: 0.85;
}
@media -sass-debug-info{filename{}line{font-family:\0000325}}
#up-button:hover {
  background-color: black;
}
@media -sass-debug-info{filename{}line{font-family:\0000329}}
#up-button span {
  width: 100%;
  padding: 8px;
}

@media -sass-debug-info{filename{}line{font-family:\0000335}}
.typcn-arrow-up-thick:before {
  content: '\e023';
}

@media -sass-debug-info{filename{}line{font-family:\0000339}}
#content-container, #image-container {
  min-height: 100%;
  padding-bottom: 5rem;
}

@media -sass-debug-info{filename{}line{font-family:\0000344}}
#image-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: .3rem;
  /* .image */
}
@media -sass-debug-info{filename{}line{font-family:\0000350}}
#image-container .image {
  margin: auto;
  /* .image-info */
}
@media -sass-debug-info{filename{}line{font-family:\0000353}}
#image-container .image .show-hide-image-info {
  padding: 8px;
  z-index: 12;
  margin-left: 1rem;
  cursor: default;
  font-family: "BoldSans";
}
@media -sass-debug-info{filename{}line{font-family:\0000360}}
#image-container .image .show-hide-image-info:hover {
  background-color: #CECECE;
}
@media -sass-debug-info{filename{}line{font-family:\0000365}}
#image-container .image img {
  padding: 2.5rem;
}
@media -sass-debug-info{filename{}line{font-family:\0000367}}
#image-container .image img:hover {
  opacity: 0.85;
}
@media -sass-debug-info{filename{}line{font-family:\0000372}}
#image-container .image .image-info {
  margin: 0 0 0 0;
}
@media -sass-debug-info{filename{}line{font-family:\0000375}}
#image-container .image .image-info .info-table-container {
  padding: .3rem 1.3rem 1.3rem 1.3rem;
  display: none;
  position: absolute;
  z-index: 10;
  box-shadow: 5px 3px 4px  #4C4C4C;
  background-color: white;
}
@media -sass-debug-info{filename{}line{font-family:\0000385}}
#image-container .image .image-info table td {
  padding: 0 .4rem 0 .4rem;
}

@media -sass-debug-info{filename{}line{font-family:\0000393}}
#pagination-container {
  text-align: center;
  border: 1px solid black;
}

@media -sass-debug-info{filename{}line{font-family:\0000398}}
.viewer {
  display: none;
}

@media -sass-debug-info{filename{}line{font-family:\00003102}}
#overlay {
  display: none;
}

@media -sass-debug-info{filename{}line{font-family:\00003106}}
#content-container {
  margin: 2.3rem;
}

@media -sass-debug-info{filename{}line{font-family:\00003110}}
.contact-info-table, .text-link-table {
  max-width: 80%;
}
@media -sass-debug-info{filename{}line{font-family:\00003113}}
.contact-info-table tr td:first-of-type, .text-link-table tr td:first-of-type {
  text-align: right;
}
@media -sass-debug-info{filename{}line{font-family:\00003117}}
.contact-info-table td, .text-link-table td {
  padding: 3px 0 8px 12px;
}
@media -sass-debug-info{filename{}line{font-family:\00003120}}
.contact-info-table td img, .text-link-table td img {
  max-height: .85rem;
  vertical-align: baseline;
}
@media -sass-debug-info{filename{}line{font-family:\00003125}}
.contact-info-table td a, .text-link-table td a {
  box-shadow: inset 0px -3px rgba(37, 110, 222, 0.3);
}
@media -sass-debug-info{filename{}line{font-family:\00003128}}
.contact-info-table td a:hover, .text-link-table td a:hover {
  box-shadow: inset 0px -3px rgba(37, 110, 222, 0.7);
}

@media -sass-debug-info{filename{}line{font-family:\00003135}}
.text-link-table {
  margin-bottom: 2.2rem;
}
@media -sass-debug-info{filename{}line{font-family:\00003138}}
.text-link-table tr td:first-of-type {
  text-align: left;
}
@media -sass-debug-info{filename{}line{font-family:\00003142}}
.text-link-table td {
  padding-right: 18px;
  vertical-align: top;
}
@media -sass-debug-info{filename{}line{font-family:\00003147}}
.text-link-table thead {
  font-family: "BoldSans";
  font-size: 105%;
  color: #585858;
}
@media -sass-debug-info{filename{}line{font-family:\00003153}}
.text-link-table .description {
  border: 1px solid #CECECE;
  font-family: "LightItalic";
  cursor: default;
}
@media -sass-debug-info{filename{}line{font-family:\00003158}}
.text-link-table .description div {
  max-width: 9rem;
  max-height: 3rem;
  display: inline-block;
  text-overflow: clip ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media -sass-debug-info{filename{}line{font-family:\00003167}}
.text-link-table .description:hover {
  border: 1px solid #272727;
  color: #272727;
}
@media -sass-debug-info{filename{}line{font-family:\00003174}}
.text-link-table .show-description div {
  max-height: 19rem !Important;
  max-width: 19rem !Important;
  text-overflow: unset !Important;
  white-space: pre-line !Important;
  overflow: auto !Important;
}

@media -sass-debug-info{filename{}line{font-family:\00003184}}
#text-body {
  white-space: pre-line;
  padding: 1.3rem;
  margin-left: 1.3rem;
  max-width: 75%;
  border: 1px solid #CECECE;
}

@media -sass-debug-info{filename{}line{font-family:\00003192}}
h2.text, h3.text {
  color: #585858;
}

@media screen and (max-width: 390px) {
  /* this is to make the text/links table smaller */
@media -sass-debug-info{filename{}line{font-family:\00003198}}
  .description, .date {
    display: none;
  }
}
@media screen and (max-width: 719px) {
@media -sass-debug-info{filename{}line{font-family:\00003204}}
  #image-container .image .show-hide-image-info {
    /* unset hover on mobile */
  }
@media -sass-debug-info{filename{}line{font-family:\00003206}}
  #image-container .image .show-hide-image-info:hover {
    background: none;
    color: black;
  }

@media -sass-debug-info{filename{}line{font-family:\00003213}}
  #image-container .image img:hover {
    opacity: 1;
  }
}

@charset "UTF-8";
/* The viewer is only visible on desktop sized screens */
@media screen and (min-width: 719px) {
@media -sass-debug-info{filename{}line{font-family:\000037}}
  #image-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
@media -sass-debug-info{filename{}line{font-family:\0000311}}
  #image-container .image {
    max-width: 85%;
    margin: auto;
  }
@media -sass-debug-info{filename{}line{font-family:\0000315}}
  #image-container .image img {
    max-width: 85%;
  }

  /* this is the z-index of the nav */
@media -sass-debug-info{filename{}line{font-family:\0000324}}
  #overlay {
    z-index: 11;
    display: none;
    height: 100%;
    width: 100%;
    opacity: 0.95;
    background-color: #CECECE;
    position: fixed;
    top: 0;
    left: 0;
  }

@media -sass-debug-info{filename{}line{font-family:\0000336}}
  #close-viewer {
    display: none;
    z-index: 12;
    font-family: "BoldSans";
    font-size: 1.5rem;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    background-color: #272727;
    color: white;
    cursor: default;
  }
@media -sass-debug-info{filename{}line{font-family:\0000348}}
  #close-viewer:hover {
    opacity: 0.6;
  }

@media -sass-debug-info{filename{}line{font-family:\0000353}}
  #image-info {
    display: none;
    z-index: 12;
    position: absolute;
    bottom: 7px;
    color: #272727;
  }
@media -sass-debug-info{filename{}line{font-family:\0000360}}
  #image-info .small-font {
    padding-right: 1rem;
    padding-left: 2.3rem;
    text-align: right;
  }
@media -sass-debug-info{filename{}line{font-family:\0000366}}
  #image-info td {
    padding: 2px 26px 2px 6px;
    text-align: left;
  }

@media -sass-debug-info{filename{}line{font-family:\0000372}}
  .viewer-open {
    z-index: 12;
    text-align: center;
    position: fixed;
    top: 0px;
    width: 100%;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
  }
@media -sass-debug-info{filename{}line{font-family:\0000382}}
  .viewer-open canvas {
    margin: auto;
  }

@media -sass-debug-info{filename{}line{font-family:\0000387}}
  #viewer-canvas {
    z-index: 12;
    opacity: 1.0;
    background: white;
  }

@media -sass-debug-info{filename{}line{font-family:\0000393}}
  #viewer-count {
    z-index: 12;
    position: fixed;
    bottom: 5%;
    left: 47%;
    color: #272727;
    font-family: "BoldSans";
    text-align: center;
  }

@media -sass-debug-info{filename{}line{font-family:\00003103}}
  .typcn-arrow-left-thick:before {
    content: '\e00d';
    /* '' */
  }

@media -sass-debug-info{filename{}line{font-family:\00003107}}
  .typcn-arrow-right-thick:before {
    content: '\e01a';
    /* '' */
  }

@media -sass-debug-info{filename{}line{font-family:\00003111}}
  #back-arrow-container, #forward-arrow-container {
    z-index: 12;
    height: 4.6rem;
    padding: 1.3rem 1rem;
    text-align: center;
    background-color: #272727;
    color: white;
    font-size: 1.3rem;
    position: absolute;
    top: 175px;
    cursor: default;
  }
@media -sass-debug-info{filename{}line{font-family:\00003122}}
  #back-arrow-container:hover, #forward-arrow-container:hover {
    opacity: 0.6;
  }

@media -sass-debug-info{filename{}line{font-family:\00003127}}
  #back-arrow-container {
    left: 0px;
  }

@media -sass-debug-info{filename{}line{font-family:\00003131}}
  #forward-arrow-container {
    right: 0px;
  }
}
