
{% extends 'admin_base.html' %}
{% block container %}

<h3>{{ page_title }}</h3>

<form method='post' >
    {{ text_form.csrf_token }}
    {{ text_form.auth_token(value=get_auth_token()) }}
    {{ text_form.id }}
    <button type="reset">reset</button>
    {% block delete_button %}{% endblock %}
    <div id="text-form-container">
        <div>
            <p class="bold" >text</p>
                {{ text_form.title.label }} {{ text_form.title(size=25) }}
                {{ text_form.author.label }}{{ text_form.author(size=25) }}
                {{ text_form.date.label }}{{ text_form.date(placeholder="optional", size=25) }}
                <button type="submit" id="submit" name="name" value="text" >save text</button>
            <p class="bold" >link</p>
                {{ link_form.label.label }}{{ link_form.label(size=25) }}
                {{ link_form.link_target.label }}{{ link_form.link_target(size=25) }}
               <button type="submit" id="submit" name="name" value="link" >save link</button>
        </div>
        <div>
            <p class="bold">
            {{ text_form.body.label }}
                <br>
                {{ text_form.body(cols=60, rows=7) }}
                </p>
            <p class="bold">
                {{ link_form.description.label }}
                <br>
                {{ link_form.description(cols=60, rows=3) }}
            </p>
        </div>
    </div>
</form>

{% endblock %}
