{% extends 'admin_base.html' %}
{% block container %}

<h2>series</h2>

<p>Add a <a href="{{ url_for('.newseries') }}">new</a> series</p>
<p><a id="save-series-order" href="#">Save</a> series order</p>

<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

<table id="series-list">
    <tbody>
        {% for s in series %}
        <tr data-seriesid="{{ s.id }}">
            <td>[{{ s.order+1 }}]&nbsp;&nbsp;</td>
            <td class="up-order">up</td>
            <td>&nbsp;</td>
            <td class="down-order">down</td>
            <td>&nbsp;</td>
            <td>edit <a href="{{ url_for('Admin.edit_series', _id=s.id) }}">{{ s.title }}</a></td>
            <td>({{ s|get_images|length }} images)</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

