{% extends 'admin_base.html' %}
{% block container %}

<h3>{{ page_title }}</h3>
<form class="admin-form" 
    method="POST" 
    enctype="multipart/form-data">

    {{ form.csrf_token }}
    {{ form.auth_token(value=get_auth_token()) }}
    {{ form.id }}
    <p class="bold">link</p>
    {{ form.name.label }} {{ form.name(size=35) }}
    {{ form.url.label }} {{ form.url(size=35, placeholder="https://...") }}

    <p id="file-upload">
        <span class="small-type">[jpeg, png, gif] max size 64px</span>
        <br><br>
        <label for="icon" class="button">upload an icon</label>
        {{ form.icon(accept=".jpg, .png") }}
        <img class="no-icon" alt="icon" src="" height=64 width=64>
    </p>
    
    <br>
    {{ form.email.label(class="bold") }} {{ form.email(size=35) }}
    <button type="submit" id="submit" name="submit" >save</button>
    <button type="reset" id="reset" name="reset" >reset</button>
</form>

{% endblock %}

