{% extends 'admin_base.html' %}
{% block container %}
<h3>upload a lot of images to <span class="bold">{{ series.title }}</span></h3>
<p><a href="{{ url_for('Admin.edit_series', _id=series.id) }}">back</a> to series</p>

<form class="admin-form"
      id="bulk-image-form"
      method="POST"
      enctype="multipart/form-data">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    {{ form.auth_token(value=get_auth_token()) }}
    {{ form.series_id(value=series.id) }}

    <div id="left-col">
        <p>Attributes applied to all images</p>

        <p id="file-upload">
            <label for='images' class='button'>choose files</label>
            {{ form.images(accept=".jpeg, .jpg, .png", multiple=true) }}
        </p>

        <br>
        <p>Regex to &amp; from used with re.sub</p>

        <div>
            <div class='form-input-container'>
                <label for='title_re'>title regex from</label>
                {{ form.title_re_from(value=title_re_from) }}

                <label for='title_re'>title replacement string</label>
                {{ form.title_re_to(value=title_re_to) }}
            </div>

            <div class='form-input-container'>
                <p>(matches title re)</p>
                <label for='date_re'>date replacement string</label>
                {{ form.date_re(value=date_re, class="mutually-exclusive-inputs") }}

                <label for='date_str'>date string</label>
                {{ form.date_str(class='disabled mutually-exclusive-inputs') }}
            </div>
        </div>

        <p id="padding-color-label-container">
            {{ form.padding_color.label }}<br>
            <span id="padding-color"></span>
            <p id="padding-color-selector-container">
                {{ form.padding_color }}
            </p>
        </p>

        <p>{{ form.medium.label}} {{form.medium }}</p>

        <p>
        <label>dimensions in cm w x h</label><br>
        {{ form.dimensions[0](size=4, placeholder='w') }} x {{ form.dimensions[1](size=4, placeholder='h') }}
        </p>

        <p>
            <button type="reset" name="reset" value="reset" formmethod="get">reset</button>
            <button id="submit-bulk-upload" type="submit" name="save" value="save" formmethod="post">save</button>
        </p>

    </div>

    <div id="right-col">
        <p id='filename-container'>
            files:
            <ul id="filenames-list">
            </ul>
        </p>
    </div>
</form>


{% endblock %}
