
{% extends 'admin_base.html' %}
{% block container %}

<h3>{{ page_title|safe }}</h3>

<div id="text-form-container">
    <form method='post'>
        {{ form.csrf_token }}
        {{ form.auth_token(value=get_auth_token()) }}
        {{ form.id }}
        <div>
        <p>
            <button type="submit" id="submit" name="name" value="text" >save</button>
            <button type="submit" 
                    class="confirm-submit"
                    id="delete" 
                    name="name" 
                    value="delete" 
                    formaction="{{ url_for('Admin.delete_text', text_id=form.id.data)}}">delete</button>
        </p>
            {{ form.title.label(class="bold") }} {{ form.title }}
            {{ form.author.label(class="bold") }} {{ form.author }}
            {{ form.date.label(class="bold") }} {{ form.date }}
        </div>
        <div>
            {{ form.body.label(class="bold") }}<br>
            {{ form.body(cols=60, rows=25) }}
        </div>
    </form>
</div>

{% endblock %}
