
{% extends 'admin_base.html' %}
{% block container %}

<h3>{{ page_title }}</h3>

<p>add a new <a href="{{ url_for('Admin.new_text_link') }}">text or link</a></p>

<table class="edit-texts-links">
    <thead>
        <tr><td class="bold" colspan=2>texts</td></tr>
    </thead>
    <tbody>
    {% for t in texts %}
        <tr>
            <td><a href="{{ url_for('Admin.edit_text', text_id=t.id) }}">{{ t.title }}</a></td>
            <td>{{ t.author }} </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<table class="edit-texts-links">
    <thead>
        <tr><td class="bold" colspan=2>links</td></tr>
    </thead>
    <tbody>
    {% for l in links %}
        <tr>
            <td>edit <a href="{{ url_for('Admin.edit_link', link_id=l.id) }}">{{ l.label }}</td>
            <td><a href="{{ l.link_target }}" target="blank">visit link</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
