//@import "properties";
@import "colors";

$nav-height: 2.3rem;

nav {
    position: fixed;
    top: 0px;
    left: 0px;
    font-family: "BoldSans";
    letter-spacing: 3px;
}

// Only for Mobile
nav.open {
    transform: translate(0px, 0px);
    z-index: 9;
    overflow-y: scroll;
}

// mobile
@media screen and (max-width: 899px) {
    #menu-button-container {
        display: inline-block;
        position: fixed;
        right: 0px;
        top: 0px;
        z-index: 15;
        vertical-align: top;
        padding: 1.5rem;
        opacity: 0.80;
        @include light-on-dark;
    }

    #mobile-header {
        display: block;
        font-size: 1.3rem;
        font-family: "MediumSans";
        color: $medium-gray;

        // same as h2 for title 
        margin: 1.3rem 0 0 1.3rem;
     }

    nav {
        transform: translate(-300px, 0);

        @include light-on-dark;
        min-width: 50%;
        max-width: 85%;
        min-height: 100%;
        vertical-align: top;
        padding: 7px;

        #header {
            display: none;
        }

        // mobile menu
        ul ul {
            margin-left: 24px;
            display: none;
        }

        ul ul.visible {
            display: block;
        }

        li, a {
            color: #fff;
            padding: 12px 14px;
        }
    }
}

// nav drop down for widescreen in here
@media screen and (min-width: 900px) {
    #menu-button-container {
        display: none;
    }

    body {
        padding-top: $nav-height+2;
    }

    #mobile-header {
        display: none;
    }

    nav {
        min-width: 100%;
        background-color: #fff;
        border-bottom: 2px solid #000;

        z-index: 10;
        padding: 0 0 0 1.3rem;

        #header {
            color: $medium-gray;
            font-family: "MediumSans";
            margin-right: 2rem;
        }

        ul {
            display: inline-block;
            position: relative;
            background-color: #fff;

            li {
                display: inline-block;
                position: relative;
                padding: 13px 24px;

                a {
                    display: inline-block;
                }

                ul {
                    display: none;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    padding: 0 0 0 0;
                    margin: 0 0 0 0;
                    width: max-content;
                }

                &:hover {
                    background-color: $light-gray;
                    ul {
                        display: block;
                    }
                }

                ul > li {
                    display: block;
                    border-left: 2px solid #000;
                    border-right: 2px solid #000;
                    border-top: 1px solid #000;
                    border-bottom: 1px solid #000;
                }
            }
        }
    }
}

/* menu button */
.typcn-th-menu {
    font-size: 1.3rem;
}

.typcn-th-menu:before { 
    content: '\e116';
} 

