$light-fg: #CECECE;
$dark-bg: #272727;

body {
    font-size: 18px;
}

ul {
    list-style: none;
    padding: 0;
}

.bold {
    font-family: "BoldSans";
}

#overlay {
    display: none;
    opacity: 0.75;
    position: fixed;
    top: 0px;
    left: 0px;
    width:110%;
    height: 110%;
    z-index: 1;
    background-color: #484848;
}

#close-overlay {
    padding: .7em;
    cursor: default;
    border: 1px solid inherit;

    &:hover {
        border: 1px solid black;
    }
}

#message-container {
    display: none;
    position: absolute;
    top: 3em;
    left: 33%;
    width: 33%;
    background-color:#ffffff;
    box-shadow: 5px 8px 4px black;
    z-index: 3;
    cursor: default;
    padding: 1.5em 2em .75em 2em;
    font-family:"BoldSans";

    strong {
        color: black;
    }

    ul {
        padding: 0 0 0 0;
        margin: 1em 0 0 1.5em;
        list-style: none;
        color: #BC3333;
    }

    .button {
        padding: .3em 1em .3em 1em;
        margin: 0 0 0 1.5em;

        &:hover {
            background-color:#D6D6D6;
        }
    }
}

div#container {
    margin: 0 2em 4em 2em;

    #series-list {
        td {
            padding: 5px 12px 2px 0;
        }

        tr:hover {
            background-color: #D1D89A;
        }

        .up-order, .down-order {
            color: #7B7B7B;
            cursor: pointer;
            padding: 2px 2px;

            &:hover {
                color: $light-fg;
                background-color: #8F974A;
            }
        }
    }

    a {
        box-shadow: inset 0px -3px rgba(37, 110, 222, 0.3);

        &:hover {
            box-shadow: inset 0px -3px rgba(37, 110, 222, 0.7);
        }
    }
}

.small-type {
    font-size:85%;
    font-family: "MediumSans", "Sans";
}

#username {
    /* this is the root ul element */
    position: absolute;
    right:1em;
    display: inline-block;
    margin: 0px;
    font-size: 85%;
    text-align: right;

    #auth-username {
        &:hover {
            text-decoration: underline;
        }
    }

    li > ul {
        display: none;
        width:100%;
        padding: 4px 0 2px 0;
        text-align: center;
        background-color: $light-fg;

         a {
            color: $dark-bg;
            &:hover {
                text-decoration: underline;
            }
        }
    } /* child list */

    li:hover {
        ul {
            display: block;
        }
    }
}

/* admin-forms */

input {
    border: 1px solid #000000;
    background-color: #ffffff;
}

input[type="color"] {
    width: 3.5em;
    height: 2.5em;
    border: none;
}

input[type="text"] {
    display: block;
    margin-bottom: 1.3rem;
}

input.disabled {
    background-color: #AFAFAF;
    border: 1px solid #AFAFAF;
}

textarea {
    background-color: white;
    border: 1px solid black;
}

form {
    button, .button {
        background: #ffffff;
        border: 1px solid #000000;
        font-family: "BoldSans", "sans";
        margin: 1.5em 1.5em .5em 0;
        padding: 8px 10px 5px 10px;
        cursor: pointer;

        &:hover {
            background-color: #DDDF4B;
        }
    }
}

.admin-form{
    label {
        vertical-align: top;
    }

    button {
        display: inline-block;
        vertical-align: top;
        margin-right: 2em;
    }

    #left-col, #right-col {
        display: inline-block;
        vertical-align: top;
    }

    #left-col {
        margin-right:3em;
    }

    #dimensions-0, #dimensions-1 {
        display: inline-block;
        margin-right: 1em;
    }

    #dimensions-1 {
        margin-left: 1em;
    }

    #padding-color-label-container {
        display: inline-block;
        vertical-align: top;
        width: 50%;
    }

    #padding-color-selector-container {
        display: inline-block;
        vertical-align: top;
    }

    canvas {
        border: 1px solid black;
    }
}

#show-images-for-series, #images-in-grid, #images-in-rows, #save-image-order {
    font-family: "BoldSans";
    cursor: default;

    &:hover {
        text-decoration: underline;
    }
}

.series-image-controller {
    display: none;
}

#save-image-order {
    background: #ffffff;
    border: 1px solid #000000;
    font-family: "BoldSans", "sans";
    margin: 1.5em 1.5em .5em 0;
    padding: 8px 10px 5px 10px;
    cursor: pointer;

    &:hover {
        background-color: #DDDF4B;
    }
}

/* little menu for sort by on series page*/
#images_order_by {
    // display: none;
    cursor: default;
    margin-top: .3rem;

    ul {
        position: absolute;
        padding: 0px;
        background-color: white;
    }

    li ul li {
        display: none;
    }

    li {
        font-family: "BoldSans";

        ul {
            background-color: $dark-bg;
            color: $light-fg;
        }

        ul li {
            font-family: "MediumSans";
            padding: 4px 3px 2px 5px;
        }

        &:hover {
            ul li {
                display: block;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

#series-image-container {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;


    .container {
        margin: 2em;
        min-height: 350px;
        font-size: 85%;
        display: flex;
        flex-direction: column;
        align-items: left;

        img {
            padding: 1.7em;
        }

        p {
            padding: 0 0 1em 0;
        }

        ul {
            padding-left: 1.7em;
        }

        li {
            padding: 0;
        }
    }

    .in-rows {
        padding: 1.5em;
        margin: auto;
        width: 98%;
        flex-direction: row;
        align-items: flex-start;

        ul {
            margin-top: 4em;
        }

    }

    .odd {
        background-color: #DFDDDD;
    }
}

#image-form {
    #file-upload {
        input {
            display: none;
        }
    }

    #filename-container {
        width: 15em;
        word-wrap: break-word;
    }
}

#text-form-container {
    margin-top: 1.3rem;

    div {
        display: inline-block;
        vertical-align: top;
        padding-right: 4rem;

        p {
            text-align: center;
            margin: 0 0 0 1rem;
        }
    }

    input[type=text] {
        margin-bottom: 1.3rem;
    }

    textarea {
        margin: 1.3rem 0 1.3rem 0;
        padding: 1.2rem;
        font-family: "MediumSans";
        width: 90%;
        resize: vertical;
    }
}

input#icon {
    display: none;
}

p#file-upload {
    img {
        max-height: 64px;
        max-width: 64px;
    }

    .no-icon {
        padding: .4rem;
        border: 1px solid black;
    }
}

.contact-table, .edit-texts-links {
    margin-bottom: 1.7rem;

    thead tr td {
        padding: 0 0 .4rem 0;
    }

    td {
        padding: .2rem .5rem 0 1.5rem;

        img {
            height: 1.3rem;
            max-width: 1.3rem;
        }
    }
}
