
{% extends 'admin_base.html' %}
{% block container %}

<h2>series</h2>
{#<!-- <ul> -->
{#<!--     <li><a href="{{ url_for('Admin.new_series') }}" >new series</a></li> -->#}
{#<!--     {# <li><a href="{{ url_for('Admin.new_image') }}" >add image to series</a></li> -->#}
{#<!--     <li><a href="{{ url_for('Admin.new_text_link') }}" >new text or link</a></li> -->#}
{#<!--     <li><a href="{{ url_for('Admin.contact_index') }}" > add contact info</li> -->#}
{#<!--     <li><a href="" >change password or admin email</a></li> -->#}
{#<!-- </ul> -->#}

<p>Add a <a href="{{ url_for('.newseries') }}">new</a> series</p>
<table id="series-list">
    <tbody>
        {% for s in series %}
        <tr>
            <td><a href="{{ url_for('Admin.edit_series', _id=s.id) }}">{{ s.title }}</a></td>
            <td>has {{ s.images|length }} images</td>
            {# <td><a href="{{ url_for('Admin.edit_series', _id=s.id) }}">edit</a></td> #}
        </tr>

        {% endfor %}
    </tbody>
</table>


{% endblock %}

