{% extends 'public_base.html' %}
{% block image_viewer %}
    <div class="viewer-container viewer">
        <canvas id="viewer-canvas" class="viewer" mozOpaque=true>
            You need to update your browser
        </canvas>
        <div id="image-info" class="viewer"></div>
        <div id="close-viewer" class="viewer">close</div>
        <div id="back-arrow-container" class="typcn icon typcn-arrow-left-thick viewer" aria-hidden="true" ></div>
        <div id="forward-arrow-container" class="typcn icon typcn-arrow-right-thick viewer" aria-hidden="true" ></div>
    </div>
    <div id="viewer-count" class="viewer">
        <span id="current-count"></span> of <span id="total-count"></span>
    </div>
    <div id="overlay" class="viewer">&nbsp;</div>
{% endblock %}

{% block container %}

<h2>
    {% if images %}
        {{ images[0].series.title }}
    {% else %}
        There's nothing here
    {% endif %}
</h2>

{% include 'image_container.html' %}

<div id='pagination-container'>
    <p>
        {% if page > 0 %}
            <a href="{{ request.url|prev_page_url }}">&lt;&lt;</a>
        {% endif %}
        <!-- app page is 0 indexed for offset -->
        &nbsp;&nbsp;page {{ page+1 }} of {{ last_page+1 }} &nbsp;&nbsp;
        {% if page < last_page %}
            <a href="{{ request.url|next_page_url }}">&gt;&gt;</a>
        {% endif %}
    </p>
</div>

{% endblock %}
