{% extends 'public_base.html' %}
{% block image_viewer %}
    <div class="viewer-container viewer">
        <canvas id="viewer-canvas" class="viewer" mozOpaque=true>
            You need to update your browser
        </canvas>
        <div id="image-info" class="viewer"></div>
        <div id="close-viewer" class="viewer">close</div>
        <div id="back-arrow-container" class="typcn icon typcn-arrow-left-thick viewer" aria-hidden="true" ></div>
        <div id="forward-arrow-container" class="typcn icon typcn-arrow-right-thick viewer" aria-hidden="true" ></div>
    </div>
    <div id="viewer-count" class="viewer">
        <span id="current-count"></span> of <span id="total-count"></span>
    </div>
    <div id="overlay" class="viewer">&nbsp;</div>
{% endblock %}

{% block container %}

<h2>{{ series.title }}</h2>

<div id="image-container">
{% for i in series.images %}
    <div class='image' style="order:{{ loop.index }};" >
        <img src="{{ url_for('Thumbnails.static', filename=i.filename) }}" 
            alt="{{ i.title }}"
            style="background-color:{{ i.padding_color }};"
            data-order="{{ loop.index }}"
            >
        <div class="image-info">
        <span class="show-hide-image-info">+</span>
        <div class='info-table-container' data-order="{{ loop.index }}" >
            <table>
                <tbody>
                    <tr><td class='small-font'>title</td> <td>{{ i.title|none_as_str }}</td></tr>
                    <tr><td class='small-font'>date</td> <td>{{ i.date|none_as_str}}</td></tr>
                    <tr><td class='small-font'>dims.</td> <td>{{ i.dimensions[0]|none_as_str }} x {{ i.dimensions[1]|none_as_str }}</td></tr>
                    <tr><td class='small-font'>medium</td> <td>{{ i.medium|none_as_str }}</td></tr>
                </tbody>
            </table>
        </div>
        </div>
    </div>


{% endfor %}
</div>


{% endblock %}
