{% extends 'public_base.html' %}
{% block image_viewer %}
    <div class="viewer-container viewer">
        <canvas id="viewer-canvas" class="viewer" mozOpaque=true>
            You need to update your browser
        </canvas>
        <div id="image-info" class="viewer"></div>
        <div id="close-viewer" class="viewer">close</div>
        <div id="back-arrow-container" class="typcn icon typcn-arrow-left-thick viewer" aria-hidden="true" ></div>
        <div id="forward-arrow-container" class="typcn icon typcn-arrow-right-thick viewer" aria-hidden="true" ></div>
    </div>
    <div id="viewer-count" class="viewer">
        <span id="current-count"></span> of <span id="total-count"></span>
    </div>
    <div id="overlay" class="viewer">&nbsp;</div>
{% endblock %}

{% block container %}

<h2>{% if images.length %}{{ images[0].series.title }}{% endif %}</h2>

{% include 'image_container.html' %}

<div id='pagination-container'>
    <!-- 
        load images via ajax 
        make sure SOMETHING appears even when javascript is disabled, 
        load MORE images via ajax, render in image_container partial
        check class vs id in image_container
        get current url in order to get more pages in the same series
    -->
    <p>
        <a href="{{ request.url|prev_page_url }}">prev</a>
        << 1-10 of {{ img_count }} >> 
        <a href="{{ request.url|next_page_url }}">next</a>
    </p>
</div>

{% endblock %}
