@media -sass-debug-info{filename{}line{font-family:\000035}}
body {
  padding: 4em 0 0 0;
  font-size: 1em;
}

@media -sass-debug-info{filename{}line{font-family:\0000310}}
ul {
  list-style: none;
  padding: 0;
}

@media -sass-debug-info{filename{}line{font-family:\0000315}}
a {
  color: #375EBE;
  text-decoration: none;
  font-family: "BoldSans";
}
@media -sass-debug-info{filename{}line{font-family:\0000320}}
a:hover {
  text-decoration: underline;
}

@media -sass-debug-info{filename{}line{font-family:\0000325}}
.bold {
  font-family: "BoldSans";
}

@media -sass-debug-info{filename{}line{font-family:\0000329}}
#overlay {
  display: none;
  opacity: 0.75;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 110%;
  height: 110%;
  z-index: 1;
  background-color: #484848;
}

@media -sass-debug-info{filename{}line{font-family:\0000341}}
#close-overlay {
  padding: .7em;
  cursor: default;
  border: 1px solid inherit;
}
@media -sass-debug-info{filename{}line{font-family:\0000347}}
#close-overlay:hover {
  border: 1px solid black;
}

@media -sass-debug-info{filename{}line{font-family:\0000352}}
#message-container {
  display: none;
  position: absolute;
  top: 3em;
  left: 33%;
  width: 33%;
  background-color: #ffffff;
  box-shadow: 5px 8px 4px black;
  z-index: 3;
  cursor: default;
  padding: 1.5em 2em .75em 2em;
  font-family: "BoldSans";
}
@media -sass-debug-info{filename{}line{font-family:\0000365}}
#message-container strong {
  color: black;
}
@media -sass-debug-info{filename{}line{font-family:\0000369}}
#message-container ul {
  padding: 0 0 0 0;
  margin: 1em 0 0 1.5em;
  list-style: none;
  color: #BC3333;
}
@media -sass-debug-info{filename{}line{font-family:\0000376}}
#message-container .button {
  padding: .3em 1em .3em 1em;
  margin: 0 0 0 1.5em;
}
@media -sass-debug-info{filename{}line{font-family:\0000380}}
#message-container .button:hover {
  background-color: #D6D6D6;
}

@media -sass-debug-info{filename{}line{font-family:\0000386}}
div#container {
  margin: 0 2em 4em 2em;
}
@media -sass-debug-info{filename{}line{font-family:\0000390}}
div#container #series-list td {
  padding: 5px 12px 2px 0;
}

@media -sass-debug-info{filename{}line{font-family:\0000396}}
.small-type {
  font-size: 85%;
  font-family: "MediumSans", "Sans";
}

@media -sass-debug-info{filename{}line{font-family:\00003101}}
nav {
  background-color: #272727;
  color: #CECECE;
  font-family: "BoldSans", "sans";
  padding: 8px 0 3px 0;
  position: fixed;
  width: 100%;
  height: 1.73em;
  top: 0;
  /* ul menu options */
}
@media -sass-debug-info{filename{}line{font-family:\00003111}}
nav li, nav a {
  cursor: default;
}
@media -sass-debug-info{filename{}line{font-family:\00003115}}
nav ul.menu {
  max-width: 50%;
  display: inline-block;
  margin: 0px;
  padding: 0 0 0 1.5em;
}
@media -sass-debug-info{filename{}line{font-family:\00003121}}
nav ul.menu li {
  display: inline-block;
  margin: 0 1em 0 0;
}
@media -sass-debug-info{filename{}line{font-family:\00003125}}
nav ul.menu li a {
  color: #CECECE;
}
@media -sass-debug-info{filename{}line{font-family:\00003129}}
nav ul.menu li ul {
  padding: 0px;
  background-color: #272727;
  position: absolute;
}
@media -sass-debug-info{filename{}line{font-family:\00003134}}
nav ul.menu li ul li {
  margin: 0px;
  padding: 4px 12px 7px 7px;
  display: None;
}
@media -sass-debug-info{filename{}line{font-family:\00003139}}
nav ul.menu li ul li:hover {
  background-color: black;
  text-decoration: None;
}
@media -sass-debug-info{filename{}line{font-family:\00003148}}
nav ul.menu .has-menu:hover > ul > li {
  display: block;
}

/* nav */
@media -sass-debug-info{filename{}line{font-family:\00003155}}
#username {
  /* this is the root ul element */
  position: absolute;
  right: 1em;
  display: inline-block;
  margin: 0px;
  font-size: 85%;
  text-align: right;
  /* child list */
}
@media -sass-debug-info{filename{}line{font-family:\00003165}}
#username #auth-username:hover {
  text-decoration: underline;
}
@media -sass-debug-info{filename{}line{font-family:\00003170}}
#username li > ul {
  display: none;
  width: 100%;
  padding: 4px 0 2px 0;
  text-align: center;
  background-color: #CECECE;
}
@media -sass-debug-info{filename{}line{font-family:\00003177}}
#username li > ul a {
  color: #272727;
}
@media -sass-debug-info{filename{}line{font-family:\00003179}}
#username li > ul a:hover {
  text-decoration: underline;
}
@media -sass-debug-info{filename{}line{font-family:\00003186}}
#username li:hover ul {
  display: block;
}

/* admin-forms */
@media -sass-debug-info{filename{}line{font-family:\00003194}}
input {
  border: 1px solid #000000;
  background-color: #ffffff;
}

@media -sass-debug-info{filename{}line{font-family:\00003199}}
input[type="color"] {
  width: 3.5em;
  height: 2.5em;
  border: none;
}

@media -sass-debug-info{filename{}line{font-family:\00003205}}
input[type="text"] {
  display: block;
  margin-bottom: 1.3rem;
}

@media -sass-debug-info{filename{}line{font-family:\00003210}}
input.disabled {
  background-color: #AFAFAF;
  border: 1px solid #AFAFAF;
}

@media -sass-debug-info{filename{}line{font-family:\00003215}}
textarea {
  background-color: white;
  border: 1px solid black;
}

@media -sass-debug-info{filename{}line{font-family:\00003221}}
form button, form .button {
  background: #ffffff;
  border: 1px solid #000000;
  font-family: "BoldSans", "sans";
  margin: 1.5em 1.5em .5em 0;
  padding: 8px 10px 5px 10px;
  cursor: pointer;
}
@media -sass-debug-info{filename{}line{font-family:\00003229}}
form button:hover, form .button:hover {
  background-color: #DDDF4B;
}

@media -sass-debug-info{filename{}line{font-family:\00003237}}
.admin-form label {
  vertical-align: top;
}
@media -sass-debug-info{filename{}line{font-family:\00003241}}
.admin-form button {
  display: inline-block;
  vertical-align: top;
  margin-right: 2em;
}
@media -sass-debug-info{filename{}line{font-family:\00003247}}
.admin-form #left-col, .admin-form #right-col {
  display: inline-block;
  vertical-align: top;
}
@media -sass-debug-info{filename{}line{font-family:\00003252}}
.admin-form #left-col {
  margin-right: 3em;
}
@media -sass-debug-info{filename{}line{font-family:\00003256}}
.admin-form #dimensions-0, .admin-form #dimensions-1 {
  display: inline-block;
  margin-right: 1em;
}
@media -sass-debug-info{filename{}line{font-family:\00003261}}
.admin-form #dimensions-1 {
  margin-left: 1em;
}
@media -sass-debug-info{filename{}line{font-family:\00003265}}
.admin-form #padding-color-label-container {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}
@media -sass-debug-info{filename{}line{font-family:\00003271}}
.admin-form #padding-color-selector-container {
  display: inline-block;
  vertical-align: top;
}
@media -sass-debug-info{filename{}line{font-family:\00003276}}
.admin-form canvas {
  border: 1px solid black;
}

@media -sass-debug-info{filename{}line{font-family:\00003281}}
#show-images-for-series, #images-in-grid, #images-in-rows, #save-image-order {
  font-family: "BoldSans";
  cursor: default;
}
@media -sass-debug-info{filename{}line{font-family:\00003285}}
#show-images-for-series:hover, #images-in-grid:hover, #images-in-rows:hover, #save-image-order:hover {
  text-decoration: underline;
}

@media -sass-debug-info{filename{}line{font-family:\00003290}}
.series-image-controller {
  display: none;
}

/* little menu for sort by on series page*/
@media -sass-debug-info{filename{}line{font-family:\00003295}}
#images_order_by {
  cursor: default;
  display: none;
}
@media -sass-debug-info{filename{}line{font-family:\00003299}}
#images_order_by ul {
  position: absolute;
  padding: 0px;
  background-color: white;
}
@media -sass-debug-info{filename{}line{font-family:\00003305}}
#images_order_by li ul li {
  display: none;
}
@media -sass-debug-info{filename{}line{font-family:\00003309}}
#images_order_by li {
  font-family: "BoldSans";
}
@media -sass-debug-info{filename{}line{font-family:\00003312}}
#images_order_by li ul {
  background-color: #272727;
  color: #CECECE;
}
@media -sass-debug-info{filename{}line{font-family:\00003317}}
#images_order_by li ul li {
  font-family: "MediumSans";
  padding: 4px 3px 2px 5px;
}
@media -sass-debug-info{filename{}line{font-family:\00003323}}
#images_order_by li:hover ul li {
  display: block;
}
@media -sass-debug-info{filename{}line{font-family:\00003325}}
#images_order_by li:hover ul li:hover {
  text-decoration: underline;
}

@media -sass-debug-info{filename{}line{font-family:\00003333}}
#series-image-container {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
}
@media -sass-debug-info{filename{}line{font-family:\00003341}}
#series-image-container .container {
  margin: 2em;
  min-height: 350px;
  font-size: 85%;
  display: flex;
  flex-direction: column;
  align-items: left;
}
@media -sass-debug-info{filename{}line{font-family:\00003349}}
#series-image-container .container img {
  padding: 1.7em;
}
@media -sass-debug-info{filename{}line{font-family:\00003353}}
#series-image-container .container p {
  padding: 0 0 1em 0;
}
@media -sass-debug-info{filename{}line{font-family:\00003357}}
#series-image-container .container ul {
  padding-left: 1.7em;
}
@media -sass-debug-info{filename{}line{font-family:\00003361}}
#series-image-container .container li {
  padding: 0;
}
@media -sass-debug-info{filename{}line{font-family:\00003366}}
#series-image-container .in-rows {
  padding: 1.5em;
  margin: auto;
  width: 98%;
  flex-direction: row;
  align-items: flex-start;
}
@media -sass-debug-info{filename{}line{font-family:\00003373}}
#series-image-container .in-rows ul {
  margin-top: 4em;
}
@media -sass-debug-info{filename{}line{font-family:\00003379}}
#series-image-container .odd {
  background-color: #DFDDDD;
}

@media -sass-debug-info{filename{}line{font-family:\00003386}}
#image-form #file-upload input {
  display: none;
}
@media -sass-debug-info{filename{}line{font-family:\00003391}}
#image-form #filename-container {
  width: 15em;
  word-wrap: break-word;
}

@media -sass-debug-info{filename{}line{font-family:\00003397}}
#text-form-container {
  margin-top: 1.3rem;
}
@media -sass-debug-info{filename{}line{font-family:\00003400}}
#text-form-container div {
  display: inline-block;
  vertical-align: top;
  padding-right: 4rem;
}
@media -sass-debug-info{filename{}line{font-family:\00003405}}
#text-form-container div p {
  text-align: center;
  margin: 0 0 0 1rem;
}
@media -sass-debug-info{filename{}line{font-family:\00003411}}
#text-form-container input[type=text] {
  margin-bottom: 1.3rem;
}
@media -sass-debug-info{filename{}line{font-family:\00003415}}
#text-form-container textarea {
  margin: 1.3rem 0 1.3rem 0;
  padding: 1.2rem;
  font-family: "MediumSans";
  width: 90%;
  resize: vertical;
}

@media -sass-debug-info{filename{}line{font-family:\00003425}}
.edit-texts-links td {
  padding: 0 1.2rem 0 0;
}

@media -sass-debug-info{filename{}line{font-family:\00003430}}
input#icon {
  display: none;
}

@media -sass-debug-info{filename{}line{font-family:\00003435}}
p#file-upload img {
  max-height: 64px;
  max-width: 64px;
}
@media -sass-debug-info{filename{}line{font-family:\00003440}}
p#file-upload .no-icon {
  padding: .4rem;
  border: 1px solid black;
}

@media -sass-debug-info{filename{}line{font-family:\00003446}}
.contact-table {
  margin-bottom: 1.7rem;
}
@media -sass-debug-info{filename{}line{font-family:\00003449}}
.contact-table thead {
  background-color: #272727;
  color: #CECECE;
}
@media -sass-debug-info{filename{}line{font-family:\00003454}}
.contact-table td {
  padding: .2rem .5rem 0 .5rem;
}
@media -sass-debug-info{filename{}line{font-family:\00003457}}
.contact-table td img {
  height: 1.3rem;
  max-width: 1.3rem;
}
