

{% extends 'public_base.html' %}
{% block container %}

<h2>Texts &amp; Links</h2>

<div id="content-container">
<table class="text-link-table">
    <thead>
        <tr>
            <td colspan=3>texts</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>title</th>
            <th>author</th>
            <th class="date">date</th>
        </tr>
        
        {% for i in texts %}
        <tr>
            <td><a href="{{ url_for('Public.text_by_id', _id=i.id) }}">{{ i.title }}</a></td>
            <td>{{ i.author|none_as_str }}</td>
            <td class="date">{{ i.date|none_as_str }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<table class="text-link-table">
    <thead>
        <tr>
            <td colspan=3>links</td>
        </tr>
    </thead>
    <tbody>
    {% for i in links %}
    <tr>
        <td><a href="{{ i.link_target }}" target="blank">{{ i.link_target }}</a></td>
        <td>{{ i.label }}</td>
        <td class="description"><div>{{ i.description|none_as_str }}</div></td>
    </tr>
    {% endfor %}

    </tbody>
</table>
</div>
{% endblock %}
